.pin-sidebar{
  margin-left: 31px;
}
.widget-tabs{
  background: #191d1e;
  height: 100%;
  min-width: 33px;
  padding-top: 95px;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 999;
}
.widget-tabs aside{
  margin-bottom: 15px;
  width: 18px;
  margin: 0 auto;
  padding-bottom: 17px;
}
.widget-tabs aside svg{
  fill:#fff;
}
.unpin-widget{
  position: fixed;
  bottom: 0;
  left: 7px;
}
.widget-tabs a:hover {
  position: relative;
}
/* .widget-tabs svg[title]:hover:after{
	background:rgba(0, 0, 0, 0.61);
	border: 1px solid #000;
	border-radius: 2px;
	color: #fff;
	content: attr(title);
	padding: 6px 15px;
	position: absolute;
	left: 25px;
	top: -7px;
	white-space: nowrap;
	z-index: 20px;
} */
.widget-tabs a i.fa{
		color: #fff;
    font-size: 20px;
		padding: 5px;
    text-align: center;
}

section.web-ui{
	position: absolute;
  left: 46px;
  width: 93%;
  height: 100%;
  background: #f5f7f8;
  z-index: 9;
  padding: 0 24px;
	display: none;
}
.default-widget-active{
	display: block!important;
	width: 97%!important;
}
/*Browser history*/
.browser-history-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #f5f5f5;
}

.browser-history-wrapper{

}
.browser-history-wrapper h2{
  font-size: 18px;
  padding-left: 22px;
}
.browser-history-wrapper ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.browser-history-wrapper ul li{
  padding: 7px 0 7px 22px;
  cursor: pointer;
}
.browser-history-wrapper ul li.separator{
  margin-bottom: 15px;
}
.browser-history-wrapper .browser-history-viewer{
  width: 94%;
  min-width: 600px;
}
.browser-history-wrapper .browser-history-viewer header{
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}
.browser-history-wrapper .row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.browser-history-wrapper .browser-history-viewer button,
.browser-history-wrapper .browser-history-viewer input{
  width: inherit;
}
.browser-history-wrapper .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.browser-history-viewer:before{

}

.bhistory-active{
  background: #c7e2ea;
}
.browser-history-tab{
  border-right: 1px solid #ccc;
  height: 100vh;
}
.browser-history-data{

}
.browser-history-data .bhistory-tab-item{
  display: none;
}
.browser-history-data .bhistory-active-item{
  display: block;
}
.browser-history-data .bhistory-tab-item ul{
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.browser-history-data .bhistory-tab-item ul li{
  border-bottom: 1px solid #ccc;
  padding: 5px 9px;
  position: relative;
}
.browser-history-data .bhistory-tab-item ul li:hover{
  background: #ccc;
}
.browser-history-data .bhistory-tab-item ul li:hover>i.fa{
  display: block;
}
.browser-history-data .bhistory-tab-item ul li i.fa{
    position: absolute;
    right: 8px;
    top: 4px;
    font-size: 21px;
    display: none;
}
.browser-history-data .bhistory-tab-item ul li:last-child{
  border-bottom: none;
}
.browser-history-data .bhistory-tab-item img{
  width: 20px;
}
.browser-history-data .bhistory-tab-item h5.date{
  padding: 10px 0;
}
.browser-history-data .bhistory-tab-item header{
  padding: 0 0;
  border-bottom: 0;
}
.browser-history-data .bhistory-tab-item header h5{
  margin: 5px 0;
}
.browser-history-data .bhistory-tab-item a{
}
.window-resize-wrapper{
  padding:0 0 0 0;
}
.window-resize-wrapper i{
  padding: 10px;
  font-size: 18px;
}

.unpin-widget .switch {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 13px;
}

.unpin-widget .switch input {display:none;}

.unpin-widget .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  overflow: hidden;
  border: 1px solid #fff;
}

.unpin-widget .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 7px;
  left: -1px;
  bottom: -1px;
  background-color: transparent;
  border: 1px solid #fff;
}

.unpin-widget input:checked + .slider {
  background-color: #191d1e;
  border: 1px solid #fff;
}

.unpin-widget input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.unpin-widget input:checked + .slider:before {
  left: -1px;
  bottom: -1px;
  background: #fff;
  border: 1px solid #fff;
}
/**/
.download-header{
  padding: 15px 0;
  background: #3367d6;
}
.download-header .header-title{
  margin-top: 5px;
  color:#fff;
}
.download-header .download-page-search-box{
  position: relative;
}
.download-header .download-page-search-box i{
    position: absolute;
    color: #fff;
    top: 11px;
    left: 10px;
    font-size: 17px;
}
.download-header .download-page-search-box input[type="text"]{
  background-color: #2850a7;
  width: 100%;
  padding: 10px 3px;
  padding-left: 35px;
  border: none;
  border-radius: 3px;
  color: #fff;
}
.download-header .download-page-search-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.download-header .download-page-search-box input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.download-header .download-page-search-box input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.download-header .download-page-search-box input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.download-icon img{
  width: 50px;
}
.download-history-list{
  width: 74%;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 27px;
}
#download-menu{
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  margin-top:6px;
}
#download-list{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 64%;
}
#download-list-page .list{
  margin-top: 20px;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.55);
  margin-bottom: 15px;
  position: relative;
}
#download-list-page .list .download-icon{
  text-align: center;
  margin-top: 10px;
}
#download-list-page .download-content h1{
  font-size: 16px;
  font-weight: 700;
  margin: 7px 0 6px 0;
  color: #2850a7;
}
#download-list-page .download-content a{
  text-decoration: none;
}
#download-list-page .download-content .download-url-show-in-folder{

}
#download-list-page .download-remove{
  position: absolute;
  right: 11px;
  top: -8px;
}
.deleted-download img{
  -webkit-filter: grayscale(100%);
  filter: gray;
}
.deleted-download .download-content a,
.deleted-download .download-content h1{
  color: gray;
  position: relative;
}
.deleted-download .download-content h1 span{
  position: relative;
}
.deleted-download .download-content h1 span:before{
  content: "";
  border-bottom: 1px solid gray;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 9px;
}
.deleted-download .download-url-show-in-folder{
  display: none;
}
.download-menu-settings{
  list-style: none;
  background: #fff;
  position: absolute;
  z-index: 999;
  padding: 0;
  margin: 0;
  box-shadow: 1px 1px 1px 1px #f5f5f5;
  right: 16px;
  top:0;
  padding-top:15px;
  padding-bottom: 15px;
}
.download-menu-settings li{
}
.download-menu-settings li a{
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.download-menu-settings li a:hover{
  background: #f5f5f5;
}
