.pin-sidebar{
    margin-left: 46px;
}
.widget-tabs{
	background: #191d1e;
	height: 100%;
	min-width: 46px;
	padding-top: 95px;
	position: fixed;
	top: 0;
	text-align: center;
	z-index: 999;
}
.widget-tabs aside{
  margin-bottom: 15px;
  width: 26px;
  margin: 0 auto;
  padding-bottom: 17px
}
.widget-tabs aside svg{
  fill:#fff;
}
.unpin-widget{
  position: fixed;
  bottom: 0;
  left: 10px;
}
.widget-tabs a:hover {
  position: relative;
}
.widget-tabs a[title]:hover:after{
	background:rgba(0, 0, 0, 0.61);
	border: 1px solid #000;
	border-radius: 2px;
	color: #fff;
	content: attr(title);
	padding: 6px 15px;
	position: absolute;
	left: 40px;
	top: -7px;
	white-space: nowrap;
	z-index: 20px;
}
.widget-tabs a i.fa{
		color: #fff;
    font-size: 20px;
		padding: 5px;
    text-align: center;
}

section.web-ui{
	position: absolute;
  left: 46px;
  width: 93%;
  height: 100%;
  background: #f5f7f8;
  z-index: 9;
  padding: 0 24px;
	display: none;
}
.default-widget-active{
	display: block!important;
	width: 97%!important;
}
/*Browser history*/
.browser-history-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #f5f5f5;
}

.browser-history-wrapper{

}
.browser-history-wrapper h2{
  font-size: 18px;
  padding-left: 22px;
}
.browser-history-wrapper ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.browser-history-wrapper ul li{
  padding: 7px 0 7px 22px;
  cursor: pointer;
}
.browser-history-wrapper ul li.separator{
  margin-bottom: 15px;
}
.browser-history-wrapper .browser-history-viewer{
  width: 94%;
  min-width: 600px;
}
.browser-history-wrapper .browser-history-viewer header{
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}
.browser-history-wrapper .row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.browser-history-wrapper .browser-history-viewer button,
.browser-history-wrapper .browser-history-viewer input{
  width: inherit;
}
.browser-history-wrapper .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.browser-history-viewer:before{

}

.bhistory-active{
  background: #c7e2ea;
}
.browser-history-tab{
  border-right: 1px solid #ccc;
  height: 100vh;
}
.browser-history-data{

}
.browser-history-data .bhistory-tab-item{
  display: none;
}
.browser-history-data .bhistory-active-item{
  display: block;
}
.browser-history-data .bhistory-tab-item ul{
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.browser-history-data .bhistory-tab-item ul li{
  border-bottom: 1px solid #ccc;
  padding: 5px 9px;
  position: relative;
}
.browser-history-data .bhistory-tab-item ul li:hover{
  background: #ccc;
}
.browser-history-data .bhistory-tab-item ul li:hover>i.fa{
  display: block;
}
.browser-history-data .bhistory-tab-item ul li i.fa{
    position: absolute;
    right: 8px;
    top: 4px;
    font-size: 21px;
    display: none;
}
.browser-history-data .bhistory-tab-item ul li:last-child{
  border-bottom: none;
}
.browser-history-data .bhistory-tab-item img{
  width: 20px;
}
.browser-history-data .bhistory-tab-item h5.date{
  padding: 10px 0;
}
.browser-history-data .bhistory-tab-item header{
  padding: 0 0;
  border-bottom: 0;
}
.browser-history-data .bhistory-tab-item header h5{
  margin: 5px 0;
}
.browser-history-data .bhistory-tab-item a{
}
.window-resize-wrapper{
  padding:0 0 0 0;
}
.window-resize-wrapper i{
  padding: 10px;
  font-size: 18px;
}
